* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  color: var(--vizrt-color-text-primary);

  --vizrt-color-primary: #E08256;
  --vizrt-color-primary-hover: #faa27a;
  --vizrt-color-secondary: #d24129;
  --vizrt-color-background-primary: #1e2c32;
  --vizrt-color-background-secondary: #233540;
  --vizrt-color-text-primary: #dddddd;
  --vizrt-color-text-secondary: #8AA9B7;
  --vizrt-color-passive: #eeeeeeb9;

  --vizrt-color-background-primary-transparent: #1f2d33bb;
  
  --border-selected: 2px solid #6fc5ff;
  --border-selected-thick: 4px solid #6fc5ff;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--vizrt-color-passive);
  border-radius: 0.25rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-corner {
  display: none;
}

body {
  background-color: var(--vizrt-color-background-primary) !important;
  margin: 0;
  padding: 0;
}

#container {
  justify-content: space-evenly;
}

.window-min-width {
  min-width: 993px;
}

.navbar>.container-fluid {
  margin: 0;
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

.icon {
  transform: scale(1);
}

.icon-sm {
  transform: scale(0.8);
}

.icon-xs {
  transform: scale(0.6);
}

.icon-lg {
  transform: scale(1.2);
}

.icon-xl {
  transform: scale(1.5);
}

.title {
  font-size: x-large;
  color: var(--vizrt-color-primary);
  margin-top: 8px;
}

.center {
  text-align: center;
}